 <!-- AMAZING DEALS! PART1-->

 <div class="row bg-white p-3">
  <h3 class="col-md-12" style="text-align: center">AMAZING DEALS!</h3>
  <div class="row ">
    <img
      class="col-lg-6 col-md-12 col-sm-12 img-thumbnail Amzing-Img"
      src="https://eg.jumia.is/cms/Christmas-21/ANC-Deals/LCWaikiki/LC_Waikiki_Floor-Desktop-EN.jpg"
      width="100"
    />

    <img
      class="col-lg-6 col-md-12 col-sm-12 img-thumbnail Amzing-Img"
      src="https://eg.jumia.is/cms/Christmas-21/ANC-Deals-(Updates)/AEO/Floor-Desktop_EN.png"
      width="100"
    />
  </div>
</div>
<div class="row bg-white p-3">
  <div class="row">
    <img
      class="col-lg-6 col-md-12 col-sm-12 img-thumbnail Amzing-Img"
      src="https://eg.jumia.is/cms/Christmas-21/ANC-Deals/LCWaikiki/LC_Waikiki_Floor-Desktop-EN.jpg"
      width="100"
    />

    <img
      class="col-lg-6 col-md-12 col-sm-12 img-thumbnail Amzing-Img"
      src="https://eg.jumia.is/cms/Christmas-21/ANC-Deals-(Updates)/AEO/Floor-Desktop_EN.png"
      width="100"
    />
  </div>
</div>
