<div class="container position-relative">
  <div class="row regivmail position-absolute ">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div id="alert" role="alert" class="alert alert-danger" [hidden]="!errorMessage"> {{errorMessage}}</div>
      <h5 class="fw-bold">Create Account</h5>
      <form class="form needs-validation row g-3"  #form="ngForm">
        <div class="col-md-12 col-lg-6 col-sm-12">
          <input
            #fname="ngModel"
            ngModel
            name="firstname"
            type="text"
            class="form-control border-3"
            id="inputFname"
            placeholder="First Name"
            required
          />
          <div [hidden]="fname.valid || fname.untouched" class="text-danger">
            you must enter First Name
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <input
            ngModel
            name="lastname"
            #lname="ngModel"
            type="text"
            class="form-control border-3"
            id="inputLname"
            placeholder="Last Name"
            required
          />
          <div [hidden]="lname.valid || lname.untouched" class="text-danger">
            you must enter Last Name
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <input
          [hidden]="IsLoggedByFacebook"
            ngModel
            #email="ngModel"
            name="email"
            type="email"
            class="form-control border-3"
            id="inputEmail4"
            placeholder="E-mail"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <div [hidden]="email.untouched" class="text-danger">
            <span [hidden]="!email.errors?.['required']"
              >email is required.</span
            >
            <span [hidden]="!email.errors?.['pattern']">Not valid</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12">
          <input
            ngModel
            [hidden]="IsLoggedByFacebook"
            #password="ngModel"
            name="password"
            type="password"
            class="form-control border-3"
            id="inputPassword4"
            placeholder="Password"
            required
            minlength="8"
          />
          <div [hidden]="password.untouched" class="text-danger">
            <span [hidden]="!password.errors?.['required']">
              you must enter Password</span
            >
            <span [hidden]="!password.errors?.['minlength']">Not Valid</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12 input-group mb-6">
          <span class="input-group-text" id="basic-addon1">+20</span>
          <input
              
            ngModel
            name="phone"
            id="phone"
            type="tel"
            class="form-control border-3"
            placeholder="Phone Number"
            required
          />
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck">
              I accept the
              <a style="color: rgb(246, 139, 30)">Terms & conditions</a>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck" checked>
              I want to receive Jumia Newsletters with the best deals and offers
            </label>
          </div>
        </div>

        <button
          [disabled]="form.invalid"
          class="col-12 btn text-white"
          type="submit"
          style="background-color: rgb(246, 139, 30);"
          (click)="Signup(form.value)"
        >
          Create Account
        </button>

        <button class="col-12 btn" type="submit">
          <i class="fab fa-facebook-square"></i> REGISTER WITH FACEBOOK
        </button>
      </form>
    </div>
  </div>
</div>
