<div 
class="alert text-center  p-1 fs-5 alertApp"
role="alert">
<i class="fas fa-check-circle px-3"></i>
 <span *ngIf="alert=='updated'">Product quantity has been updated</span>
 <span *ngIf="alert=='removed'">Product  removed  successfully</span> 
</div>
<div class="container-sm container-md container-lg">
  
  <div class="row">
    <div class="empty" *ngIf="items.length < 1">
      <div class="info">
        <h4>You don't have any item in your cart</h4>
        <a routerLink="" class="btn btn-success">Start Shoping </a>
      </div>
    </div>
    <div class="col-9">
      <article class="card mt-2">
        <header class="py-1 px-3">
          <h2 *ngIf="flag == 'ltr'">shopping cart</h2>
          <h2 *ngIf="flag == 'rtl'">سلة التسوق</h2>
        </header>
        <article
          class="mx-2 py-2"
          style="position: relative; border-bottom: 1px solid #ededed"
          *ngFor="let item of items; let i = index"
        >
          <a style="text-decoration: none; color: black" class="p-0 d-flex">
            <div style="width: 72px; align-self: baseline">
              <img
                [src]="item.Image"
                alt=""
                style="flex-shrink: 0"
                width="72px"
                height="72px"
              />
            </div>
            <div style="width: 100%" class="px-2">
              <h3 style="font-size: 0.875rem" *ngIf="flag == 'ltr'">
                {{ item.Description }}
              </h3>
              <!-- <h3 *ngIf="flag == 'rtl'">{{item.DescriptionAr}}</h3> -->
            </div>
            <div> available Quantity: {{item.Quantity}}</div>
            <div style="width: 30%">
              <div style="font-size: 1rem; font-weight: bold">
                Price : {{ item.Price | currency
                }}<span class="px-2" *ngIf="flag == 'rtl'">جنية</span
                ><span class="px-2" *ngIf="flag == 'ltr'">ُEGP</span>
              </div>
              <div style="font-size: 1rem; font-weight: bold">
                subtotal: {{ item.Price! * item.subtotal! | currency
                }}<span class="px-2" *ngIf="flag == 'rtl'">جنية</span
                ><span class="px-2" *ngIf="flag == 'ltr'">ُEGP</span>
              </div>
            </div>
          </a>
          <footer style="justify-content: space-between" class="d-flex py-2">
            <button
              (click)="onDelete(i)"
              style="color: white; background-color: rgb(246, 139, 30)"
              class="btn shadow"
            >
              <i class="fas fa-trash-alt"></i>
              <span class="px-2" *ngIf="flag == 'ltr'">Remove</span>
              <span class="px-2" *ngIf="flag == 'rtl'">ازالة</span>
            </button>
            <form class="d-flex">
              <button
              (click)="suppTotal(item,i)"
                style="background-color: rgb(246, 139, 30)"
                class="shadow btn"
              >
                <i style="color: #fff" class="fas fa-minus"></i>
              </button>
              <span style="text-align: center" class="m-3">{{
                item.subtotal
              }}</span>
              <button
              (click)="updateTotal(item)"
                style="background-color: rgb(246, 139, 30)"
                class="shadow btn"
              >
                <i style="color: #fff" class="fas fa-plus"></i>
              </button>
            </form>
          </footer>
        </article>
      </article>
    </div>
    <div class="col-3">
      <div class="pt-2">
        <article class="card">
          <h1
            class="p-3"
            style="border-bottom: 1px solid #ededed; font-size: 1.5rem"
          >
            <span *ngIf="flag == 'rtl'">ملخص سلة التسوق</span>
            <span *ngIf="flag == 'ltr'">cart summery</span>
          </h1>
          <div
            class="p-3"
            style="
              display: flex;
              justify-content: space-between;
              font-weight: 500;
              font-size: 1.1rem;
            "
          >
            <p class="m-0 p-0" *ngIf="flag == 'rtl'">الاجمالي</p>
            <p class="m-0 p-0" *ngIf="flag == 'ltr'">total</p>
            <p>{{ total | currency }}</p>
          </div>
          <div class="pt-1" style="border-top: 1px solis #ededed">
            <!-- (click)="PlaceOrder(items)" -->
            <button

              [routerLink]="['/paypal']"
              class="btn shadow"
              style="
                background-color: rgb(246, 139, 30);
                width: 100%;
                color: #fff;
              "

            >
              <span class="px-2" *ngIf="flag == 'ltr'">Check out</span>
              <span class="px-2" *ngIf="flag == 'rtl'">شراء</span>
            </button>
          </div>
        </article>
      </div>
    </div>
    <div class="col-12"></div>
  </div>

  <!--






<div class="empty" *ngIf="items.length < 1">
<div class="info">
  <h4>You don't have any item in your cart </h4>
  <a routerLink="" class="btn btn-success">Start Shoping </a>
</div>
</div>

<ng-container >
  <div class="cart" *ngFor="let item of items; let i = index  ">
   <i class="fa fa-trash" aria-hidden="true" (click)="onDelete(i)"></i>
   <div class="imgBox">
     <img [src]="item.Image" alt="" class="img"/>
   </div>
   <div class="desc">
     {{item.Description}}
   </div>
   <div class="price">
     {{item.Price|currency}}
   </div>
   <input type="number" class="qty" [value]="item.Quantity" (blur)="validateInput($event,i)"/>
   <div class="subtotal">
           {{item.Price*item.Quantity}}
   </div>
  </div>
</ng-container> -->
</div>
