body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
  }
  nav {
    padding: 50px;
  }
  .log {
    width: 138px;
    height: auto;
  }
  .searchbut {
    margin-left: 20px;
    width: 100px;
    height: 45px;
    text-align: center;
    background-color: rgb(246, 139, 30);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
  }
  .searchbut:hover {
    background-color: rgb(228, 129, 28);
  }
  
  .searchbut1,
  .searchbut2,
  #butout {
    margin-left: 20px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: rgb(246, 139, 30);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }
  .searchbut2 {
    margin-left: 20px;
    width: 220px;
    height: 50px;
    text-align: center;
    background-color: rgb(246, 139, 30);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }
  .searchbut1:hover {
    background-color: rgb(228, 129, 28);
  }
  .searchbut2:hover {
    background-color: rgb(228, 129, 28);
  }
  a:hover {
    color: rgb(228, 129, 28);
  }
  
  /*login page*/
  h5 {
    align-items: center;
    text-align: center;
    color: rgb(246, 139, 30);
  }
  .asideu {
    padding: 60px;
    margin: 30px;
    align-items: center;
  }
  .btlogin {
    background-color: rgb(246, 139, 30);
    font-size: 20px;
    color: white;
    font-family: "Rubik", sans-serif;
    border: none;
    height: 55px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px;
  }
  .btlogin:hover {
    background-color: rgb(228, 129, 28);
  }
  .btlogfb {
    background-color: rgb(64, 88, 138);
    font-size: 20px;
    color: white;
    font-family: "Rubik", sans-serif;
    border: none;
    height: 55px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px;
  }
  .btlogfb {
    background-color: rgb(52, 79, 136);
  }
  .regivmail {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  
    margin: 30px;
  }
  