
<footer class="sticky-bottom mt-5 ">
  <div id="fot1" class="container-fluid">
      <div class="row g-0" >
        <div class="col-1 offset-1 " >
          <img class="log" src="assets/img/wlogo.png">

        </div>
        <div class="col-5 offset-1">
          <form>
            <p class="fs-6">NEW TO JUMIA?</p>
            <p>Subscribe to our newsletter to get updates on our latest offers!</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"><i class="far fa-envelope"></i> Enter E-mail address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button  class="btn btn-outline-secondary " type="button">MALE</button>
              <button  class="btn btn-outline-secondary" type="button">FEMALE</button>
            </div>
          </form>
        </div>
        <div class="col-3 offset-1" >
          <img style="width: 40px; float: left;" src="assets/img/logo3.png">
         <div style=" float: right;"> <p class="fs-6"> DOWNLOAD JUMIA FREE APP</p>
            <p>Get access to exclusive offers!</p> </div>
            <img style="width: 100px; " src="assets/img/appstore.png">
            <img style="width: 100px;" src="assets/img/googlepla.png">
        </div>
      </div>
    </div>
    <div id="fot2" class="container-fluid">
      <div class="row">
        <div class="col-3">
          <p class="fs-6">LET US HELP YOU</p>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Help Center</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Contact us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">How to buy on Jumia?</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">How to pay on Jumia?</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Delivery timelines</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Return Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Corporate Services</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Report a Product</a></li>
          </ul>
        </div>

        <div class="col-3">
          <p class="fs-6">ABOUT JUMIA EGYPT</p>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Jumia Careers</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Terms and Conditions</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Jumia Express</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Jumia Mall</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Jumia Logistics Services</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Jumia Black Friday</a></li>
          </ul>
        </div>

        <div class="col-3 ">
          <p class="fs-6">MAKE MONEY WITH JUMIA</p>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Sell on Jumia</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Become a Logistics Service Partner</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Become a Sales Consultant (J-Force )</a></li>
          </ul>
        </div>

        <div class="col-3">
          <p class="fs-6">JUMIA INTERNATIONAL</p>
          <ul class="nav flex-column ">
            <div class="row">
              <div class="col-6">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Algeria</a></li>
              </div>
              <div class="col-6">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Nigeria</a></li>
              </div>
          </div>
          <div class="row">
            <div class="col-6">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Ivory Coast</a></li>
            </div>
            <div class="col-6">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Senegal</a></li>
            </div>
        </div>
        <div class="row">
          <div class="col-6">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Ghana</a></li>
          </div>
          <div class="col-6">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Tunisia</a></li>
          </div>
      </div>
      <div class="row">
        <div class="col-6">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Kenya</a></li>
        </div>
        <div class="col-6">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Uganda</a></li>
        </div>
    </div>
    <div class="row">
      <div class="col-6">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Morocco</a></li>
      </div>
  </div>
          </ul>
        </div>
      </div>

      <div  class="container-fluid">
        <div class="row">
          <div class="col-3">
            <p class="fs-6">JOIN US ON</p>
            <ul class="nav flex-column ">
              <div class="row">
                <div class="col-2">
                  <li class="nav-item mb-2"><i class="fab fa-facebook-f"></i></li>
                </div>
                <div class="col-2">
                  <li class="nav-item mb-2"><i class="fab fa-twitter"></i></li>
                </div>
                <div class="col-2">
                  <li class="nav-item mb-2"><i class="fab fa-instagram"></i></li>
                </div>
                <div class="col-2">
                  <li class="nav-item mb-2"><i class="fab fa-youtube"></i></li>
                </div>
            </div>
          </ul>
          </div>

          <div class="col-3">
            <p class="fs-6">PAYMENT METHODS</p>
            <ul class="nav flex-column ">
              <div class="row">
                <div class="col-2">
                  <li class="nav-item mb-2"><i class="fas fa-hand-holding-usd"></i></li>
                </div>
                <div class="col-2">
                  <li class="nav-item mb-2"><i class="fab fa-cc-mastercard"></i></li>
                </div>
                <div class="col-2">
                  <li class="nav-item mb-2"><i class="fab fa-cc-visa"></i></li>
                </div>
                <div class="col-2">
                  <!--icon for fawry but i can't find it for now-->
                  <li class="nav-item mb-2"><i class="fas fa-credit-card"></i></li>
                </div>
            </div>
          </ul>
          </div>
        </div></div></div>

    </footer>
