  <!-- productList -->

  <div >

    <div>
      <a  name=""
      id=""
      class="btn btn-primary mb-1"
      [routerLink]="['/Products', sendProduct.id]"
      [queryParams]="{ query: sendProduct.Category}"
      role="button" class="text-decoration-none text-dark">
        <img
          class="card-img-top"
         [src]="sendProduct.Image"
          alt="Card image"
          style="width: 100%"
        />
        <div class="card-body">
          <small>{{sendProduct.Name}}</small>
          <h6 class="card-title">{{sendProduct.Price}}</h6>
        </div>
      </a>
    </div>

  </div>
