<nav class="navbar cc navbar-expand-lg navbar bg-warning row" >
  <img
  class="col-12"
    src="https://static.jumia.com.eg/cms/Christmas-21/Sticky-Banner/FS/EN.png"
    width="100%"
    alt=""
  />

</nav>
<li  class="row  sell  list-unstyled " style="width: 100%; position: relative">
  <a class=" sellOn col-lg-9 col-md-9  col-sm-12" [routerLink]="['/SellerRegister']">Sell on Jumia </a>
  <a  class="nav-link text-dark col-lg-1 col-md-1 col-sm-6 lang" (click)="changeDir('ltr')"><img src="https://cdn-icons.flaticon.com/png/512/4049/premium/4049835.png?token=exp=1647123221~hmac=8d05224dd3ab4ea998c68363a7489eec" width="20px"/>English</a>
  <a class="nav-link text-dark col-lg-1 col-md-1 col-sm-6 lang" (click)="changeDir('rtl')"><img src="https://icons.iconarchive.com/icons/hopstarter/square-flags/16/Egypt-Flag-icon.png"/>عربي</a>
</li>


<div class="shadow container-fluid">
  <nav
    style="align-items: normal"
    class="navbar navbar-expand-lg bg-white p-0 row"
  >
    <div class="nav-item col-2">
      <a class="nav-link active" aria-current="page"  routerLink="/Products"
        ><img class="log" src="assets/img/logo.png"
      /></a>
    </div>
    <button
      class="navbar-toggler bg-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-item col-6 collapse navbar-collapse">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 "
        style="width: 100%; justify-content: space-around"
      >
        <li style="width: 100%; position: relative">
          <input
            [(ngModel)]="searchitem"
            (keydown)="search()"
            class="form-control"
            type="search"
            aria-label="default input example"
          />
          <div class="searchOptions" *ngIf="searchitem.length > 0">
            <div
              class="list-group"
              style="position: absolute; width: 100%; z-index: 1"
            >
              <button
                *ngFor="let item of filtteredProducts"
                (click)="route(item.id!)"
                type="button"
                class="list-group-item list-group-item-action"
              >
                {{ item.Name }}
              </button>
            </div>
          </div>
        </li>
        <li>
          <button (click)="searchBtn()" class="searchbut">
            <span *ngIf="flag == 'ltr'">Search</span>
            <span *ngIf="flag == 'rtl'">بحث</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="nav-item col-4">
      <ul class="navbar-nav m-auto mt-3">

          <li id="navitem1" class="nav-item dropdown">
            <a
            class="nav-link dropdown-toggle text-dark"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
            *ngIf="flag == 'ltr'"
            ><i class="far fa-user"></i
            ><span *ngIf="isUser == true">Account</span>
            <span *ngIf="isUser == false" >Signin</span>
          </a>
          <a
          class="nav-link dropdown-toggle text-dark"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-expanded="false"
          *ngIf="flag == 'rtl'"
          ><i class="far fa-user"></i
          ><span *ngIf="isUser == true">حساب</span>
          <span *ngIf="isUser == false" >تسجيل الدخول</span>
        </a>

          <ul class="dropdown-menu">
            <li routerLink="/userProfile">
              <a class="dropdown-item text-dark" *ngIf="flag == 'ltr'"
                ><i class="far fa-user"></i> My Account</a
              >
              <a class="dropdown-item text-dark" *ngIf="flag == 'rtl'"
              ><i class="far fa-user"></i> حسابي</a
            >
            </li>
            <li>
              <a *ngIf="flag == 'ltr'" [routerLink]="['/Orders',id]" class="dropdown-item text-dark" href="#"
                ><i class="far fa-box"></i> Orders</a
              >

              <a *ngIf="flag == 'rtl'" [routerLink]="['/Orders',id]" class="dropdown-item text-dark" href="#"
                ><i class="far fa-box"></i>طلباتي</a
              >
            </li>

            <li>
              <a *ngIf="flag == 'ltr'" class="dropdown-item text-dark" href="#"
                ><i class="far fa-heart"></i> Saved Items</a
              >
              <a *ngIf="flag == 'rtl'" class="dropdown-item text-dark" href="#"
              ><i class="far fa-heart"></i>العناصر المحفوظة</a
            >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li style="text-align: center" *ngIf="flag == 'ltr'">
              <button
                *ngIf="isUser"
                (click)="Logout()"
                class="btn btn-outline-warning"
              >
                Logout
              </button>
              <button
                routerLink="/login"
                *ngIf="!isUser"
                class="btn btn-outline-warning"
              >
                Login
              </button>
            </li>
            <li style="text-align: center" *ngIf="flag == 'rtl'">
              <button
                *ngIf="isUser"
                (click)="Logout()"
                class="btn btn-outline-warning"
              >
                تسجيل الخروج
              </button>
              <button
                routerLink="/login"
                *ngIf="!isUser"
                class="btn btn-outline-warning"
              >
                تسجيل الدخول
              </button>
            </li>
          </ul>
        </li>
        <li id="navitem2" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
            *ngIf="flag == 'ltr'"
            ><i class="far fa-question-circle" ></i> Help</a
          >

          <ul class="dropdown-menu">
            <li style="text-align: left">
              <a class="dropdown-item text-dark" href="#">Help Center</a>
            </li>
            <li>
              <a class="dropdown-item text-dark" href="#"
                >Place & track order</a
              >
            </li>
            <li>
              <a class="dropdown-item text-dark" href="#">order Cancel</a>
            </li>
            <li>
              <a class="dropdown-item text-dark" href="#">Returns & Refunds</a>
            </li>
            <li>
              <a class="dropdown-item text-dark" href="#"
                >Payment & Jumia account</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li style="text-align: center">
              <button class="btn btn-warning btn-block">
                <i class="far fa-comment-alt-dots"></i> LIVE HELP
              </button>
            </li>
          </ul>
        </li>
        <!-- <p>taqwa</p> -->

        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/cart"
            ><i class="far fa-shopping-cart"></i
            ><span class="cartitem">{{ itemIncart }}</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/favList">
            <i class="far fa-heart"></i>
            <span class="cartitem"> </span
          ></a>
        </li>


      </ul>
    </div>
  </nav>
</div>
