<nav class="navbar navbar-expand-lg bg-warning">
  <img
    src="https://static.jumia.com.eg/cms/Christmas-21/Sticky-Banner/FS/EN.png"
    width="100%"
    alt=""
  />
</nav>
<nav class="navbar navbar-expand-lg bg-white">
  <div class="nav-item">
    <a class="nav-link active" aria-current="page" href="#"
      ><img class="log" src="assets/img/logo.png"
    /></a>
  </div>
  <button
    class="navbar-toggler bg-dark"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto mt-3">
      <li class="nav-item w-100">
        <!-- <i class="fas fa-search"></i>  -->

        <input
          [(ngModel)]="searchitem"
          (keydown)="search()"
          class="form-control"
          style="width: 600px"
          type="search"
          placeholder="Search products, brands and categories"
          aria-label="default input example"
        />
        <div class="searchOptions" *ngIf="searchitem.length > 0">
          <div class="list-group">
            <button
              type="button"
              class="list-group-item list-group-item-action"
              *ngFor="let item of filtteredProducts"
            >
              {{ item.Name }}
            </button>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <button class="searchbut">SEARCH</button>
      </li>
      <li id="navitem1" class="nav-item dropdown">
        <!--we will change account in "Hi,username"-->
        <a
          class="nav-link dropdown-toggle text-dark"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-expanded="false"
          ><i class="far fa-user"></i> Account</a
        >
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item text-dark" href="#"
              ><i class="far fa-user"></i> My Account</a
            >
          </li>
          <li>
            <a class="dropdown-item text-dark" href="#"
              ><i class="far fa-box"></i> Orders</a
            >
          </li>
          <li>
            <a class="dropdown-item text-dark" href="#"
              ><i class="far fa-envelope"></i> Inbox</a
            >
          </li>
          <li>
            <a class="dropdown-item text-dark" href="#"
              ><i class="far fa-heart"></i> Saved Items</a
            >
          </li>
          <li>
            <a class="dropdown-item text-dark" href="#"
              ><i class="far fa-ticket"></i> Jumia Credit</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li style="text-align: center">
            <button class="btn btn-outline-warning">Logout</button>
          </li>
        </ul>
      </li>
      <li id="navitem2" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-dark"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-expanded="false"
          ><i class="far fa-question-circle"></i> Help</a
        >
        <ul class="dropdown-menu">
          <li style="text-align: left">
            <a class="dropdown-item text-dark" href="helpcenter.html"
              >Help Center</a
            >
          </li>
          <li>
            <a class="dropdown-item text-dark" href="helpPlace.html"
              >Place & track order</a
            >
          </li>
          <li>
            <a class="dropdown-item text-dark" href="ordercancelation.html"
              >order Cancel</a
            >
          </li>
          <li>
            <a class="dropdown-item text-dark" href="refundes.html"
              >Returns & Refunds</a
            >
          </li>
          <li>
            <a class="dropdown-item text-dark" href="#"
              >Payment & Jumia account</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li style="text-align: center">
            <button class="btn btn-warning btn-block">
              <i class="far fa-comment-alt-dots"></i> LIVE HELP
            </button>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#"
          ><i class="far fa-shopping-cart"></i
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">{{ itemIncart }}</a>
      </li>
    </ul>
  </div>
</nav>
