<!-- <ng-container *ngFor="let item of order">
  <div class="card-body">
    <small>{{ item.id! }}</small>
    <small>{{ item.Product?.Name }}</small>
    <h6 class="card-title">{{ item.Product?.Price | currency: "EGP" }}</h6>

    <img [src]="item.Product?.Image" alt="" />
    <p></p>

    <textarea [maxLength]="50" #feedback> </textarea>
    <button (click)="SubmitfeedBack(feedback.value, item.id!)">Add</button>

   
  </div>
</ng-container>
<small>total:{{ orderdetails.Total }}</small>
<br />
<small>total:{{ orderdetails.date }}</small> -->
